# Default values for dispatcher.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

container:
  image:
    repository: foxford/dispatcher
    tag: ""

  volumes:
    - name: config
      configMap:
        name: dispatcher-config
    - name: svc
      secret:
        secretName: svc-secret
    - name: tenant
      secret:
        secretName: tenant-secret

  volumeMounts:
    - name: config
      mountPath: /app/App.toml
      subPath: App.toml
    - name: tenant
      mountPath: /path/to/key
      subPath: tenant.public_key

  resources:
    limits:
      cpu: 0.5
      memory: 500Mi
    requests:
      cpu: 0.1
      memory: 50Mi

audiences:
  services:
    authz:
      type: localwhitelist
      records:
        - subject_account_id: "devops.foo.bar"
          object: ["scopes"]
          action: "rollback"
    authn:
      key: /path/to/key
  tenant:
    authn:
      key: /path/to/key
    authz:
      type: http
    tq:
      preroll_offset: 4181
    mqtt_events: true
  tenantless:
    authn:
      key: /path/to/key
    authz:
      type: none
    mqtt_events: true

env:
  RUST_LOG: warn,dispatcher=info,svc_utils=info,svc_utils::metrics=warn
  DATABASE_POOL_SIZE: 15
  DATABASE_POOL_IDLE_SIZE: 15
  DATABASE_POOL_TIMEOUT: 5
  DATABASE_POOL_MAX_LIFETIME: 43200

service:
  type: ClusterIP
  ports:
    http: 8080
    metrics: 8081

ingress:
  host: example.org
  tls:
    secretName: tls-certificates
