id = "dispatcher.dev.svc.example.org"
agent_label = "alpha"
broker_id = "mqtt-gateway.dev.svc.example.org"

default_frontend_base = "http://yandex.ru"

[id_token]
algorithm = "ES256"
key = "data/keys/svc.private_key.p8.der.sample"

[api_auth]
algorithm = "ES256"
audience = "svc.netology-group.services"
key = "data/keys/svc.public_key.p8.der.sample"

[mqtt]
uri = "mqtt://0.0.0.0:1883"
clean_session = true
incoming_message_queue_size = 10000000
outgoing_message_queue_size = 10000000
max_message_size = 100000
reconnect_interval = 3

[http]
listener_address = "0.0.0.0:3000"
